<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link href="css/style.css" rel="stylesheet">-->
    </head>
    <body>
        <h2>Thank you for your business!</h2>
        <p>We charged your credit card for ${{ purchase }}</p>
        <p>You have ordered {{ items_ordered }} items so far and spent ${{ total_purchases }} with Amadon.com!</p>
        <a href="/">Go Back</a>
    
    </body>
</html>