<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link href="css/style.css" rel="stylesheet">-->
    </head>
    <body>
        <h1>Amadon Store!</h1>
        <table>
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Dojo Tshirt</td>
                    <td>$19.99</td>
                    <td><form action='/buy' method='post'>
                            {% csrf_token %}
                            <select name='quantity'>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                            <input type="hidden" name="product_id" value="1">
                            <input type="submit" value="Buy!">
                    </form></td>
                </tr>
                <tr>
                    <td>Dojo Sweater</td>
                    <td>$29.99</td>
                    <td><form action='/buy' method='post'>
                            {% csrf_token %}
                            <select name='quantity'>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                            <input type="hidden" name="product_id" value="2">
                            <input type="submit" value="Buy!">
                    </form></td>
                </tr>
                <tr>
                    <td>Dojo Cup</td>
                    <td>$4.99</td>
                    <td><form action='/buy' method='post'>
                            {% csrf_token %}
                            <select name='quantity'>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                            <input type="hidden" name="product_id" value="3">
                            <input type="submit" value="Buy!">
                    </form></td>
                </tr>
                <tr>
                    <td>Algorithm Book</td>
                    <td>$49.99</td>
                    <td><form action='/buy' method='post'>
                            {% csrf_token %}
                            <select name='quantity'>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                            <input type="hidden" name="product_id" value="4">
                            <input type="submit" value="Buy!">
                    </form></td>
                </tr>
            </tbody>
        </table>
    
    </body>
</html>